@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&family=Overlock:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #837E7E;
    --background-color:  #d8cfc6;
    --first-color: #27636e;
    --second-color: #985B46;
}

body {
    font-family: "Overlock";
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d8cfc6;
    color: white;
}

.galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 575px));
    gap: 50px;
    max-width: 1200px;

}

.project {
    background-color: var(--second-color);
    height: 300px;
    padding: 10px;
}

.project-title {
    display:flex;
    align-items: center;
    justify-content: stretch;
    padding: 10px 0;
}

.project-title img {
    height: 1.1em;
    padding: 0 10px;
    
}
.project-title h3 {
    flex: 1 1 auto;
}

.bgshape {
    background: linear-gradient(170deg, rgba(39, 99, 110, 0.95) 49%, rgba(255, 255, 255, 0) 50% );
    width: 100vw;
}

.header.photo {
    background-image: url(./asets/header-square2.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 600px;
    position: relative;
}

.header.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 80px;

}

.header.card {
    
    text-justify: center;
    height: 500px;
    max-width: 600px;
    background-color: #837E7E;
    padding: 30px;
    position: relative;
}

.title {
    font-family: "Gluten";
    position: absolute;
    bottom: 170px;
    font-size: 5em;
    color: white;
}

.header-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
  
}

.header-icons img,
.footer-icons img {
    height: 50px;
}

.footer-icons {
    padding-top: 40px;
}

.footer-panel {
    background-color: #837E7E;
    width: 400px;
    padding: 30px;
}


.footer-panel>p{
    padding: 10px 0;
}

.footer-panel>h1 {
    padding-bottom: 40px;

}
.footer-container>img {
    width: 800px;
   
}

footer {
    display: grid;
}

.footer-container {
    display: flex;
    align-items:center;
    padding: 60px 80px;
    background: linear-gradient(170deg, rgba(255, 255, 255, 0) 49%, rgba(39, 99, 110, 0.95) 50%);
    /* justify-self: center; */
    width: 100vw;
    

}